.env
node_modules
env
Chapter_11/env

# Node modules
node_modules/

# Build output
build/
dist/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Test coverage
coverage/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# React Native
.expo/

# Parcel-bundler cache
.cache/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Firebase cache
.firebaserc

# misc
*.log
