requests
json
csv
dotenv
numpy
pandas
matplotlib
seaborn
asyncio
fastapi
uvicorn
flask
flask_sqlalchemy
flask_marshmallow
flask_migrate
flask_restful
flask-jwt-extended
passlib
marshmallow-sqlalchemy
scikit-learn
